* {
  margin: 0;
  padding: 0;
}

.cards {
  margin-right: 4rem !important;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.part-img {
  overflow: hidden;
  width: -webkit-fill-available;
}

.tab {
  background: none !important;
  border: none !important;
}

.card {
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card img {
  width: auto;
}

.content {
  flex-grow: inherit !important;
}

.name {
  font-size: 16px !important;
}
.price {
  color: black !important;
  font-size: 20px !important;
  font-weight: 900;
}

@media (max-width: 768px) {
  .cards {
    margin-right: 0 !important;
  }

  .card {
    height: 25rem;
  }

  .container {
    margin-bottom: 5rem;
  }
}
